node_modules/
.expo/
dist/

android/app/build/
android/.gradle/
android/build/
android/app/.cxx/
ios/Pods/
ios/build/
coverage/

.tools/
*.tsbuildinfo
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

.env
.env.local

# Necesario para compilar Firebase en EAS Android
!google-services.json
!android/app/google-services.json
